body {
    background-color: black;
}
p {
    margin: 0;
    padding: 0;
}

#unPost {
    display: none;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

#unPost li {
    margin-bottom: 20px;
    color: black;
    background-color: white;
    list-style: none;
    border-radius: 5px;
    height: 130px;
}

#select-page {
    text-align: center;
    margin: 0 auto;
    width: 40%;
}

#select-page li {
    color: black;
    background-color: white;
    list-style: none;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}


#select-page #page-btn {
    margin-left: 20px;
}

#column-content {
    display: inline-block;
}

span, #page-btn {
    display: inline-block;
    vertical-align: middle;
}

#column-content span {
    font-size: 150%;
}


.article {
    height: 130px;
    overflow: scroll;
    padding: 10px;
    box-sizing: border-box;
}
.operation-btn {
    height: 130px;
    padding-left: 10px;
    padding-right: 10px;
}

.image-content {
    text-align: center;
    height: 130px;
    width: 100%;
}

.image-content img {
    border-radius: 100%;
    height: 110px;
    width: 110px;
}

.article-form {
    width: 100%;
    display: none;
}

.article-textarea {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
}

.outer {
    display: table;
    position: absolute;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
}

#login-content {
    text-align: center;
}
#wrapper {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login {
    background: #4267b2;
    border-radius: 5px;
    color: white;
    padding: 10px;
    border: 0px solid white;
}

#logout-content {
    display: none;
    text-align: right;
}

#logout-content p:hover, #Allpost-content p:hover {
    cursor: pointer;
    color: gray;
}

#Admin-content {
    text-align: left;
}

#Allpost-content {
    display: none;
    text-align: center;
}

#logout-content p, #Admin-content p, #Allpost-content p {
    color: white;
    font-size: 150%;
}



#myImg {
    cursor: pointer;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
